################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XrmToolboxDemo/bin/Debug
/XrmToolboxDemo/obj
/.vs
/packages
